.data-user-wrapper {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-device-width: 500px) {
  .data-user-wrapper {
    height: auto;
  }
}